/*!CK:1761973580!*//*1395151879,178171215*/

.sp_avu1zb{background-image:url(/rsrc.php/v2/y1/r/LmqF8s_mPqE.png);background-size:20px 74px;background-repeat:no-repeat;display:inline-block;height:8px;width:8px}.sx_bd1c0c{width:10px;height:16px;background-position:0 -16px}.sx_e729cc{width:10px;height:16px;background-position:0 -34px}.sx_b00d98{height:10px;background-position:0 -52px}.sx_2f036f{background-position:-10px -52px}.sx_2d2c25{background-position:0 -64px}.sx_285481{width:10px;height:14px;background-position:-10px 0}.selected .sx_285481{background-position:0 0}

#bootloader_qOv8e { height: 42px; }
.bootloader_qOv8e { display:block !important; }