/*!CK:4171011392!*//*1402281311,*/

.sp_igBrBgQgamU{background-image:url(/rsrc.php/v2/yU/r/Zut0Zb3NfxY.png);background-size:28px 172px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_igBrBgQgamU.sx_97f3ff{width:12px;height:10px;background-position:-14px -158px}.sp_igBrBgQgamU.sx_05dec4{width:14px;height:12px;background-position:-14px 0}.selected .sp_igBrBgQgamU.sx_05dec4{background-position:0 0}.sp_igBrBgQgamU.sx_fed889{width:14px;height:12px;background-position:-14px -14px}.selected .sp_igBrBgQgamU.sx_fed889{background-position:0 -14px}.sp_igBrBgQgamU.sx_736d8f{width:12px;height:12px;background-position:0 -158px}.sp_igBrBgQgamU.sx_ed5386{background-position:0 -50px}.sp_igBrBgQgamU.sx_1aebf3{background-position:0 -68px}.sp_igBrBgQgamU.sx_b1f9aa{background-position:0 -86px}.sp_igBrBgQgamU.sx_79c2ef{background-position:0 -104px}.sp_igBrBgQgamU.sx_9cc882{background-position:0 -122px}.sp_igBrBgQgamU.sx_dbd0bf{background-position:0 -140px}.sp_igBrBgQgamU.sx_2feced{width:20px;height:20px;background-position:0 -28px}

#bootloader_YN7Ed { height: 42px; }
.bootloader_YN7Ed { display:block !important; }