/*!CK:1789635117!*//*1403101076,*/

.marketingBodyCopy{line-height:19px}
._4yp1{background-image:-moz-linear-gradient(to top, transparent, rgba(0, 0, 0, .3));left:0;position:absolute;top:0;width:100%}._4yp2{background-image:-moz-linear-gradient(to top, transparent, rgba(0, 0, 0, .3) 50%);background-position:0 200%;background-repeat:no-repeat;background-size:100% 200%;padding:12px 12px 12px 16px;-moz-transition:background-position .13s ease-in-out}._4yp2:hover,.openToggler ._4yp2,._4yp3:focus ._4yp2,._4yp4 ._4yp2{background-position:0 0}._4yp3{color:#fff;display:block;text-align:left}._4yp5{opacity:0;-moz-transition:opacity .13s ease-in-out}._4yp2:hover ._4yp5,.openToggler ._4yp5,._4yp3:focus ._4yp5,._4yp4 ._4yp5{opacity:1;visibility:visible}._4yp1 .uiSelector{display:block}._4yp1 .uiSelector .uiSelectorButton,._4yp1 .uiSelector .openToggler .uiSelectorButton{background:none;border:none;box-shadow:none;padding:0;text-shadow:none}.gecko #fbProfileCover ._4yp1 .uiSelector,.gecko #fbProfileCover ._4yp1 .uiSelectorButton{display:block}._4yp1 a.async_saving._4yp3{cursor:pointer;opacity:1}._4yp1 ._55pe{width:100%}._4yp1 .uiSelectorMenuWrapper{left:32px;min-width:0}._4yp1 .uiMenuInner{overflow:hidden}._4yp1 .uiMenuItem .itemAnchor{padding:2px 12px}._4yp1 .fbTimelineSelectorShiftCover .img{margin:0 4px 0 1px}._4yp1 .fbTimelineSelectorRemovePhoto .img{margin:0 7px 0 4px}

#bootloader_RjiST { height: 42px; }
.bootloader_RjiST { display:block !important; }