/*!CK:3018969645!*//*1402528155,*/

.sp_5YfxPhvQjtT{background-image:url(/rsrc.php/v2/yf/r/wCj6nws3kiU.png);background-size:18px 54px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_5YfxPhvQjtT.sx_f92cb9{background-position:0 0}.sp_5YfxPhvQjtT.sx_03efbc{background-position:0 -18px}.sp_5YfxPhvQjtT.sx_228d28{background-position:0 -36px}

#bootloader_nTwU2 { height: 42px; }
.bootloader_nTwU2 { display:block !important; }