/*!CK:3110355769!*//*1402976368,*/

div._2as{height:57px;padding:0}._5fd9{display:none;text-align:center}._5fd9,._2ay{padding:16px 0}._2ay,._2ay:hover{display:block;padding-left:28px;text-decoration:none}.async_saving ._5fd9{display:block}.async_saving ._2ay{display:none}
.listMemberFacepileFacebar .img{height:24px !important;width:24px !important}.listMemberFacepileSearch .img,.listMemberFacepileNormal .img{height:25px !important;width:25px !important}.listMemberFacepileLarge .img{height:36px !important;width:36px !important}.listMemberFacepileLargeCollection .img{height:31px !important;width:31px !important}.listMemberFacepileHuge .img{height:50px;width:50px}div.listMemberFacepileSearch{height:50px;width:50px}div.listMemberFacepileFacebar{height:48px;width:48px}div.listMemberFacepileNormal{width:51px;height:51px}div.listMemberFacepileLarge{width:75px;height:75px}div.listMemberFacepileLargeCollection{height:64px;width:64px}div.listMemberFacepileHuge{width:101px;height:101px}.listMemberFacepile{line-height:0;outline:none;white-space:normal}.listMemberFacepile .firstImg{margin-right:1px}.listMemberFacepile .lastImg{margin:1px 0 0 1px}.listMemberFacepile.listMemberFacepileSearch .firstImg,.listMemberFacepile.listMemberFacepileFacebar .firstImg{margin-right:0}.listMemberFacepile.listMemberFacepileSearch .lastImg,.listMemberFacepile.listMemberFacepileFacebar .lastImg{margin:0}.listMemberFacepile.listMemberFacepileSearch .img{left:0;position:relative}.listMemberFacepile .img{display:inline !important}
._1_a0{font-weight:normal}
html div._59x1{outline:none}html div._59x1{box-shadow:0 0 0 0}
.egoGYSJ{margin-bottom:2px;margin-left:3px}.egoGYSJImage{margin-top:2px}.egoGYSJName{display:inline-block;font-weight:bold;max-width:162px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}.egoGYSJFooter{padding:0 18px 15px 0}.egoGYSJFooterButton{width:100%}.homeFixedLayout #rightCol .uiSideHeader .egoGYSJFeedbackLink{font-size:12px;margin-right:12px;margin-top:-1px}.egoGYSJSeeAllLink{position:relative;top:-1px}
._538q{border:1px solid #e9eaed}._538r{color:#adb3bc}
._4b0d{height:64px;margin-left:1px;outline:solid 1px #e9eaed;width:64px}._4b0e{padding:3px 10px 0 10px}._3zc9{top:2px}a._4b0f{color:#adb3bc;display:block;line-height:14px;max-height:27px;overflow:hidden}a._4b0f,a._4b0f:hover{text-decoration:none}

#bootloader_LsYP1 { height: 42px; }
.bootloader_LsYP1 { display:block !important; }