/*!CK:1713697060!*//*1403099083,*/

.profile dl.info{margin:0}.profile dl.info dt,.profile dl.info dd{padding:1px 0 3px 0}.profile dl.info dt{float:left;clear:left}.profile dl.info dd{float:left;margin:0;padding-left:10px}
.mapUnit iframe{display:block}div.mapUnit{margin-bottom:0;margin-left:-12px;overflow:hidden;width:403px}.checkinUnit .fbTimelineFlyoutMap{margin-bottom:-15px}.checkinUnit .checkinPhoto{border:0;margin:0;padding:0}.checkinUnit .checkinPhoto .photoWrap{margin-left:-12px;height:403px;width:403px}.fbTimelineOneColumn .checkinUnit .checkinPhoto .photoWrap{height:403px;width:843px}.timelineReportContent .timelineUnitContainer div.freqCheckin{margin-bottom:-15px}.freqCheckin .freqCheckinContent{line-height:60px;height:62px;overflow:hidden}.freqCheckin a{text-decoration:none}.freqCheckin .freqCheckinNumber{background-color:#e7eaf2;color:#6d84b4;font-size:9px;height:46px;line-height:14px;margin:3px;text-align:center;width:60px}.freqCheckin .freqCheckinNumber .freqCheckinBigNumber{font-size:27px;line-height:25px}.freqCheckin .freqCheckinName{display:inline-block;line-height:15px;width:255px;vertical-align:middle}.freqCheckin .freqCheckinName .subtitle a{color:gray}.fbTimelineMapCityHeader{margin-bottom:16px;text-align:center}.fbTimelineMapCityHeader .fbTimelineMapCityTitle{font-size:18px;font-weight:bold}.fbTimelineMapUnitPager{position:absolute;top:9px;right:9px}

#bootloader_XfLLy { height: 42px; }
.bootloader_XfLLy { display:block !important; }