/*!CK:4166026014!*//*1399275510,178150443*/

.sp_SXN4uSIPVOU{background-image:url(/rsrc.php/v2/yO/r/YFS_Ccay1FZ.png);background-size:26px 122px;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}.sp_SXN4uSIPVOU.sx_5e85a4{width:6px;background-position:-6px -66px}.selected .sp_SXN4uSIPVOU.sx_5e85a4{background-position:0 -66px}.sp_SXN4uSIPVOU.sx_2d88fb{background-position:0 -80px}.sp_SXN4uSIPVOU.sx_3079a1{background-position:0 -94px}.sp_SXN4uSIPVOU.sx_89f56e{background-position:0 -108px}.sp_SXN4uSIPVOU.sx_b442a0{width:24px;height:32px;background-position:0 0}.sp_SXN4uSIPVOU.sx_e44eff{width:10px;height:6px;background-position:-14px -76px}.sp_SXN4uSIPVOU.sx_d6b54b{width:14px;height:14px;background-position:0 -34px}.sp_SXN4uSIPVOU.sx_c66991{width:14px;height:14px;background-position:0 -50px}.sp_SXN4uSIPVOU.sx_26c069{width:6px;height:8px;background-position:-20px -66px}.selected .sp_SXN4uSIPVOU.sx_26c069{background-position:-14px -66px}.sp_SXN4uSIPVOU.sx_4bed77{width:8px;background-position:-16px -34px}

#bootloader_KANbw { height: 42px; }
.bootloader_KANbw { display:block !important; }