/*!CK:1082933478!*//*1398664688,178142551*/

._1u6z .tickerDialogFooter{border-radius:0 0 2px 2px}
._4ljw._4ljw._4ljw.tickerDialogFooter{border-top:1px solid #e1e2e3;margin:0}._4ljw._4ljw._4ljw._5vsj{padding-left:0;padding-right:0}._4ljx._4ljx .uiScrollableAreaContent{padding:0}._4ljx.uiScrollableArea.contentAfter::after{height:1px}

#bootloader_DFyOK { height: 42px; }
.bootloader_DFyOK { display:block !important; }