/*!CK:243886953!*//*1401675489,178134563*/

.sp_pCMnyw3_TYA{background-image:url(/rsrc.php/v2/yS/r/B-VN3z3me6D.png);background-size:18px 54px;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_pCMnyw3_TYA.sx_2c64d3{background-position:0 0}.sp_pCMnyw3_TYA.sx_25ff23{background-position:0 -18px}.sp_pCMnyw3_TYA.sx_4ec333{background-position:0 -36px}

#bootloader_525C7 { height: 42px; }
.bootloader_525C7 { display:block !important; }